
@font-face {
    font-family:"Alpaca Scarlett Demo";src:url("../fonts/Alpaca_Scarlett_Demo/Alpaca_Scarlett_Demo.eot?") format("eot"),url("../fonts/Alpaca_Scarlett_Demo/Alpaca_Scarlett_Demo.woff") format("woff"),url("../fonts/Alpaca_Scarlett_Demo/Alpaca_Scarlett_Demo.ttf") format("truetype"),url("../fonts/Alpaca_Scarlett_Demo/Alpaca_Scarlett_Demo.svg#AlpacaScarlettDemo") format("svg");
    font-weight:normal;
    font-style:normal;
}
#description{
    position: relative;
    display: block;
    margin: auto;
    font-size: 22;
    text-align: center;
}
#service-container .row{
    width: 100%;
}

.services{
    text-align: center;
    padding: 10px;
    border:2px solid transparent;
}

.services:hover{
    border: 2px dashed black;
}

#services-content{
    margin: auto;
}

#description blockquote{
    margin: auto;
}

#services-content{
    text-align: center;
}

#map{
    height: 30vh;
    width: 100%;
}

#form-area{
    text-align: center;
}

#footer-col{
    text-align: center;
}

.logo img{
    width: 32px;
    height: 32px;
}

#coming-soon{
    width:100%;
    /* font-family:'Alpaca Scarlett Demo'; */
    font-size:25px;
    font-weight:100    ;
    letter-spacing:3px;
    text-transform: none;
}

.img-thumbnail{
    border:none;
    /* height:100px; */
    background-color: transparent;
    display:block;
    margin:0 auto;
}
.sponsiimg{
    height:200px;
}
.judge-container{
    margin:100px;
}
.judge-indiv{
    /* width:200px; */
    height:300px;
    position: relative;
    background-image: url(../images/avatar.jpeg);
    background-size:cover;
    margin:10px;
    transition-delay: 0.8s;
    
}
.text-hover{
    display:none;
    /* height:300px; */
    width:80%;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:white;
    transition-delay: 0.8s;
    
    /* margin:0 10px; */
}
.text-hover h2,h5{
    color:white;
}
.judge-hover{
    display:none;
    height:300px;
    width:100%;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity:0.7;
    background-color: red;
    transition-delay: 0.8s;    
}


.judge-indiv:hover .judge-hover{
    display:block;
}

.judge-indiv:hover .text-hover{
    display:block;
}